<% if (messages && messages.notice) { %>
  <div class="flash-message">
    <%- messages() %>
  </div>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<h1><%= title %></h1>

<div id="form-container">
  <form id="loginForm" method="post" action="/account/login">

    <label for="account_email">Email</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      placeholder="example@mail.com"
      value="<%= locals.account_email || '' %>"
      required
      autofocus
    >

    <label for="account_password">Password</label>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
    >

    <button type="submit">Login</button>

  </form>
</div>

<p class="register-link">
  Don't have an account?
  <a href="/account/register">Register</a>
</p>
