<% const year = new Date() %>
<footer>
  <p class="copyright">&copy; <%= year.getFullYear() %>, CSE 340 App</p>
  <p>
    <a href="/inv/error/500" title="Trigger 500 error">Trigger 500 Error</a>
  </p>
</footer>
