<div id="hero">
  <h1>Welcome to CSE Motors!</h1>
  <%- messages() %>

  <div class="hero-car-info">
    <h2>DMC Delorean</h2>
    <div>
      <p>3 Cup holders</p>
      <p>Superman doors</p>
      <p>Fuzzy dicel</p>
    </div>

    <button type="button">Own Today</button>
  </div>
  <img
    src="/images/vehicles/delorean.jpg"
    alt="Delorean - Flux Capacitor"
    loading="lazy"
    aria-label="Flux Capacitor upgrade"
  />
</div>

<div class="car">
  <div class="reviews">
    <h3>DMC Delorean Reviews</h3>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!." (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!." (5/5)</li>
    </ul>
  </div>
  <div class="upgrades">
    <h3>Delorean Upgrades</h3>
    <div id="cards">
      <div class="card">
        <div>
          <img
            src="/images/upgrades/flux-cap.png"
            alt="Delorean - Flux Capacitor"
            height="100"
            loading="lazy"
          />
        </div>
        <a href="#">Flux Capacitor</a>
      </div>
      <div class="card">
        <div>
          <img
            src="/images/upgrades/flame.jpg"
            alt="Delorean - Flame Decals"
            height="100"
            loading="lazy"
          />
        </div>
        <a href="#">Flame Decals</a>
      </div>
      <div class="card">
        <div>
          <img
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Delorean - Bumper Stickers"
            height="100"
            loading="lazy"
          />
        </div>
        <a href="#">Bumper Stickers</a>
      </div>
      <div class="card">
        <div>
          <img
            src="/images/upgrades/hub-cap.jpg"
            alt="Delorean - Hub Caps"
            height="100"
            loading="lazy"
          />
        </div>
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </div>
</div>
